@import "/src/utils/colors.scss";

.projects {
    background: $third-color;

    .container {
        h2 {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 3em;
            margin-bottom: 100px;

            span {
                color: $main-color;
            }
        }

        .project-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5em;
            align-items: center;


            .project-box {
                position: relative;
                display: flex;
                border-radius: 2em;
                overflow: hidden;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                img {
                    width: 100%;
                    transition: .5s ease;
                }

                .project-layer {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background: linear-gradient(rgba(0, 0, 0, 0.5), $main-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    padding: 0 4em;
                    transform: translateY(100%);
                    transition: .3s ease;

                    h4 {
                        font-size: 2em;
                        color: $white;
                    }

                    p {
                        font-size: 1.2em;
                        color: $white;
                        margin: .3em 0 1em;
                    }

                    a {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 5em;
                        height: 5em;
                        border-radius: 50%;
                    }
                }

                &:hover img {
                    transform: scale(1.1);
                }

                &:hover .project-layer {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    #projects .container > .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    #projects .container > .project-container {
        grid-template-columns: repeat(1, 1fr);

        .project-box {
            height: 300px
        }
    }
}
